<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CloudShelf</string>
    <key>CFBundleIconFile</key>
    <string>CloudShelf</string>
    <key>CFBundleIdentifier</key>
    <string>com.cloudshelf.app</string>
    <key>CFBundleName</key>
    <string>CloudShelf</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleVersion</key>
	<string>5</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>CloudShelf 需要访问本地网络中的 FTP、SFTP 和 WebDAV 服务器。</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_webdav._tcp</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
